<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanags.lib.android_image_cropper">

    <application>
        <provider
            android:name=".CropFileProvider"
            android:authorities="${applicationId}.cropper.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/library_file_paths" />
        </provider>
    </application>
</manifest>